<p-dataTable [value]="pessoas" [paginator]="true" [rows]="6" [responsive]="true">
  <p-column field="nome" header="Nome"></p-column>
  <p-column field="cidade" header="Cidade"></p-column>
  <p-column field="estado" header="Estado"></p-column>
  <p-column field="ativo" header="Status">
    <ng-template let-pessoas="rowData" pTemplate="body">
      <!-- Outra maneira de fazer o tooltip-->
      <!-- <a href="javascript:;" class="column-status" pTooltip="{{pessoas.ativo === true ? 'Desativar' : 'Ativar'}}" tooltipPosition="top"> -->
      <a href="javascript:;" class="column-status" [pTooltip]="pessoas.ativo === true ? 'Desativar' : 'Ativar'" tooltipPosition="top">
        {{ pessoas.ativo ? 'Ativo' : 'Inativo' }}
      </a>
    </ng-template>
  </p-column>
  <p-column styleClass="col-acoes">
    <ng-template pTemplate="body">
      <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
      <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>
    </ng-template>
  </p-column>
</p-dataTable>
