<p-table 
  [value]="pessoas" #tabela
  [responsive]="true"
  [paginator]="true" 
  [rows]="filtro.itensPorPagina" 
  [lazy]="true" 
  [totalRecords]="totalRegistros" 
  (onLazyLoad)="aoMudarPagina($event)">

  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Cidade</th>
      <th class="col-estado-header">Estado</th>
      <th class="col-status-header">Status</th>
      <th class="col-acoes-header"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-pessoa>
    <tr>
      <td>{{ pessoa.nome }}</td>
      <td>{{ pessoa.endereco.cidade?.nome }}</td>
      <td class="col-estado">{{ pessoa.endereco.cidade?.estado.nome }}</td>
      <td class="col-status">
        <a 
          href="javascript:;"
          class="column-status"
          [pTooltip]="pessoa.ativo === true ? 'Desativar' : 'Ativar'" 
          tooltipPosition="top" 
          (click)="atualizarStatus(pessoa)"
        >
          {{ pessoa.ativo ? 'Ativo' : 'Inativo' }}
        </a>
      </td>
      <td class="col-acoes">
        <button 
          pButton
          icon="fa fa-pencil" 
          pTooltip="Editar" 
          tooltipPosition="top" 
          [routerLink]="['/pessoas', pessoa.codigo]">
        </button>
        <button 
          pButton
          icon="fa fa-trash" 
          pTooltip="Excluir" 
          tooltipPosition="top"
          (click)="confirmarExclusao(pessoa)" 
          [disabled]="!auth.temPermissao('ROLE_REMOVER_PESSOA')">
        </button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">Nenhuma pessoa encontrada</td>
    </tr>
  </ng-template>

</p-table>
