<p-dataTable [value]="pessoas" [responsive]="true" emptyMessage="Nenhuma pessoa encontrada" #tabela
      [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">

  <p-column field="nome" header="Nome"></p-column>

  <p-column field="endereco.cidade" header="Cidade"></p-column>

  <p-column field="endereco.estado" header="Estado"></p-column>

  <p-column field="ativo" header="Status">
    <ng-template let-pessoa="rowData" pTemplate="body">
      <!-- Outra maneira de fazer o tooltip-->
      <!-- <a href="javascript:;" class="column-status" pTooltip="{{pessoas.ativo === true ? 'Desativar' : 'Ativar'}}" tooltipPosition="top"> -->
      <a href="javascript:;" class="column-status" [pTooltip]="pessoa.ativo === true ? 'Desativar' : 'Ativar'" tooltipPosition="top" (click)="atualizarStatus(pessoa)">
        {{ pessoa.ativo ? 'Ativo' : 'Inativo' }}
      </a>
    </ng-template>
  </p-column>

  <p-column styleClass="col-acoes">
    <ng-template let-pessoa="rowData" pTemplate="body">
      <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/pessoas', pessoa.codigo]"></a>
      <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(pessoa)"></button>
    </ng-template>
  </p-column>

</p-dataTable>
