<div class="container">
  <form
    #pessoaCadastroForm="ngForm" 
    autocomplete="off" 
    (ngSubmit)="salvar(pessoaCadastroForm)">

    <!-- Cadastro de pessoa -->
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="ui-g-12  ui-fluid">
        <label>Nome</label>
        <input
          pInputText 
          name="nome"
          type="text" 
          [(ngModel)]="pessoa.nome" 
          #nome="ngModel" 
          ngModel 
          required 
          minlength="5"
        />

        <app-message 
          [control]="nome" 
          error="required" 
          text="Informe o nome">
        </app-message>

        <app-message 
          [control]="nome" 
          error="minlength" 
          text="Mínimo de {{nome.errors?.minlength?.requiredLength}} caracteres">
        </app-message>
      </div>

      <div class="ui-g-12  ui-md-9  ui-fluid">
        <label>Logradouro</label>
        <input 
          pInputText 
          name="logradouro"
          type="text"
          [(ngModel)]="pessoa.endereco.logradouro" 
          #logradouro="ngModel" 
          ngModel 
          required
        />

        <app-message 
          [control]="logradouro" 
          error="required" 
          text="Informe o logradouro">
        </app-message>
      </div>

      <div class="ui-g-12  ui-md-3  ui-fluid">
        <label>Numero</label>
        <input 
          pInputText
          name="numero"
          type="text" 
          [(ngModel)]="pessoa.endereco.numero" 
          #numero="ngModel" 
          ngModel 
          required
        />

        <app-message 
          [control]="numero" 
          error="required" 
          text="Informe e numero">
        </app-message>
      </div>

      <div class="ui-g-12  ui-md-4  ui-fluid">
        <label>Complemento</label>
        <input 
          pInputText 
          name="complemento"
          type="text" 
          [(ngModel)]="pessoa.endereco.complemento" 
          #endereco="ngModel" 
          ngModel
        />
      </div>

      <div class="ui-g-12  ui-md-4  ui-fluid">
        <label>Bairro</label>
        <input 
          pInputText 
          name="bairro"
          type="text" 
          [(ngModel)]="pessoa.endereco.bairro" 
          #bairro="ngModel" 
          ngModel 
          required
        />

        <app-message 
          [control]="bairro" 
          error="required" 
          text="Informe o bairro">
        </app-message>
      </div>

      <div class="ui-g-12  ui-md-4  ui-fluid">
        <label>CEP</label>
        <p-inputMask 
          name="cep"
          mask="99.999-999" 
          placeholder="00.000-000" 
          [(ngModel)]="pessoa.endereco.cep" 
          #cep="ngModel" 
          ngModel 
          required>
        </p-inputMask>

        <app-message 
          [control]="cep" 
          error="required" 
          text="Informe o CEP">
        </app-message>
      </div>

      <div class="ui-g-12  ui-md-6  ui-fluid">
        <label>Cidade</label>
        <input 
          pInputText 
          name="cidade" 
          type="text" 
          [(ngModel)]="pessoa.endereco.cidade" 
          #cidade="ngModel" 
          ngModel 
          required 
        />

        <app-message 
          [control]="cidade" 
          error="required" 
          text="Informe a cidade">
        </app-message>
      </div>

      <div class="ui-g-12  ui-md-6  ui-fluid">
        <label>Estado</label>
        <input 
          pInputText 
          name="estado" 
          type="text" 
          [(ngModel)]="pessoa.endereco.estado" 
          #estado="ngModel" 
          ngModel 
          required 
        />

        <app-message 
          [control]="estado" 
          error="required" 
          text="Informe o estado">
        </app-message>
      </div>

      <!-- Tabela de contatos -->
      <div class="ui-g-12">
        <p-panel header="Contatos">
          <div class="ui-g">
            <div class="ui-g-12">
              <button
                pButton
                icon="fa-plus"
                label="Novo"
                type="button"
                class="ui-button-secondary"
                (click)="prepararNovoContato()">
              </button>
            </div>

            <div class="ui-g-12">
              <p-table [value]="pessoa.contatos" [responsive]="true">

                <ng-template pTemplate="header">
                  <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th class="col-acoes-header"></th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-contato>
                  <tr>
                    <td>{{ contato.nome }}</td>
                    <td>{{ contato.email }}</td>
                    <td>{{ contato.telefone }}</td>
                    <td class="col-acoes">
                      <button
                        pButton icon="fa-pencil"
                        type="button"
                        pTooltip="Editar"
                        tooltipPosition="top">
                      </button>

                    <button
                      pButton icon="fa-trash"
                      type="button"
                      pTooltip="Excluir"
                      tooltipPosition="top">
                    </button>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="4">Nenhum contato cadastrado</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-panel>
      </div>

      <!-- Botões -->
      <div class="ui-g-12">
        <button 
          pButton 
          type="submit" 
          label="Salvar" 
          [disabled]="!pessoaCadastroForm.valid">
        </button>

        <button 
          pButton 
          type="button" 
          class="ui-button-info" 
          label="Novo" 
          (click)="novo(pessoaCadastroForm)">
        </button>

        <a routerLink="/pessoas">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>

<p-dialog 
  header="Novo Contato" 
  [(visible)]="exibindoFormularioContato"
  modal="modal"
  *ngIf="contato">

  <form 
    #formContato="ngForm"
    autocomplete="off">

    <div class="ui-g-12  ui-fluid">
      <label>Nome</label>
      <input
        pInputText
        type="text"
        name="nome"
        required
        [(ngModel)]="contato.nome"
        #contatoNome="ngModel"
      />

      <app-message
        [control]="contatoNome"
        error="required"
        text="Informe o nome">
      </app-message>
    </div>

    <div class="ui-g-12  ui-fluid">
      <label>Email</label>
      <input
        pInputText
        type="email"
        name="email"
        required
        email
        [(ngModel)]="contato.email"
        #emailContato="ngModel"
      />

      <app-message
        [control]="emailContato"
        error="required"
        text="Informe o e-mail">
      </app-message>

      <app-message
      [control]="emailContato"
      error="email"
      text="Informe um e-mail válido">
    </app-message>
    </div>

    <div class="ui-g-12  ui-fluid">
      <label>Telefone</label>
      <p-inputMask 
        name="telefone"
        mask="(99) 99999-999?9"
        [(ngModel)]="contato.telefone">
      </p-inputMask>
    </div>

    <div class="ui-g-12">
      <button
        pButton
        label="Confirmar"
        type="submit"
        [disabled]="formContato.invalid">
      </button>
    </div>
  </form>
</p-dialog>
