<div class="container">
  <form
    #pessoaCadastroForm="ngForm" 
    autocomplete="off" 
    (ngSubmit)="salvar(pessoaCadastroForm)">

    <!-- Cadastro de pessoa -->
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="ui-g-12  ui-fluid">
        <label>Nome</label>
        <input
          pInputText 
          name="nome"
          type="text" 
          [(ngModel)]="pessoa.nome" 
          #nome="ngModel" 
          ngModel 
          required 
          minlength="5"
        />

        <app-message 
          [control]="nome" 
          error="required" 
          text="Informe o nome">
        </app-message>

        <app-message 
          [control]="nome" 
          error="minlength" 
          text="Mínimo de {{nome.errors?.minlength?.requiredLength}} caracteres">
        </app-message>
      </div>

      <div class="ui-g-12  ui-md-9  ui-fluid">
        <label>Logradouro</label>
        <input 
          pInputText 
          name="logradouro"
          type="text"
          [(ngModel)]="pessoa.endereco.logradouro" 
          #logradouro="ngModel" 
          ngModel 
          required
        />

        <app-message 
          [control]="logradouro" 
          error="required" 
          text="Informe o logradouro">
        </app-message>
      </div>

      <div class="ui-g-12  ui-md-3  ui-fluid">
        <label>Numero</label>
        <input 
          pInputText
          name="numero"
          type="text" 
          [(ngModel)]="pessoa.endereco.numero" 
          #numero="ngModel" 
          ngModel 
          required
        />

        <app-message 
          [control]="numero" 
          error="required" 
          text="Informe e numero">
        </app-message>
      </div>

      <div class="ui-g-12  ui-md-4  ui-fluid">
        <label>Complemento</label>
        <input 
          pInputText 
          name="complemento"
          type="text" 
          [(ngModel)]="pessoa.endereco.complemento" 
          #endereco="ngModel" 
          ngModel
        />
      </div>

      <div class="ui-g-12  ui-md-4  ui-fluid">
        <label>Bairro</label>
        <input 
          pInputText 
          name="bairro"
          type="text" 
          [(ngModel)]="pessoa.endereco.bairro" 
          #bairro="ngModel" 
          ngModel 
          required
        />

        <app-message 
          [control]="bairro" 
          error="required" 
          text="Informe o bairro">
        </app-message>
      </div>

      <div class="ui-g-12  ui-md-4  ui-fluid">
        <label>CEP</label>
        <p-inputMask 
          name="cep"
          mask="99.999-999" 
          placeholder="00.000-000" 
          [(ngModel)]="pessoa.endereco.cep" 
          #cep="ngModel" 
          ngModel 
          required>
        </p-inputMask>

        <app-message 
          [control]="cep" 
          error="required" 
          text="Informe o CEP">
        </app-message>
      </div>

      <div class="ui-g-12  ui-md-6  ui-fluid">
        <label>Estado</label>
        <p-dropdown
          placeholder="Selecione..."
          [autoWidth]="false"
          [filter]="true"
          [options]="estados"
          [(ngModel)]="estadoSelecionado"
          name="estadoSelecionado"
          #estado="ngModel"
          required
          (onChange)="carregarCidades()">
        </p-dropdown>

        <app-message 
          [control]="estado" 
          error="required" 
          text="Informe o estado">
        </app-message>  
      </div>

      <div class="ui-g-12  ui-md-6  ui-fluid">
        <label>Cidade</label>
        <p-dropdown
          placeholder="Selecione..."
          [autoWidth]="false"
          [filter]="true"
          [options]="cidades"
          [(ngModel)]="pessoa.endereco.cidade.codigo"
          name="cidade"
          #cidade="ngModel"
          required
          [disabled]="!estadoSelecionado">
        </p-dropdown>

        <app-message 
          [control]="cidade" 
          error="required" 
          text="Informe a cidade">
        </app-message>        
      </div>

      <!-- Tabela de contatos -->
      <div class="ui-g-12">
        <p-panel header="Contatos">
          <app-pessoa-cadastro-contato [contatos]="pessoa.contatos"></app-pessoa-cadastro-contato>
        </p-panel>
      </div>

      <!-- Botões -->
      <div class="ui-g-12">
        <button 
          pButton 
          type="submit" 
          label="Salvar" 
          [disabled]="!pessoaCadastroForm.valid">
        </button>

        <button 
          pButton 
          type="button" 
          class="ui-button-info" 
          label="Novo" 
          (click)="novo(pessoaCadastroForm)">
        </button>

        <a routerLink="/pessoas">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>

